.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, #9290d5, transparent),
              radial-gradient(circle at top right, #e2acf8, transparent),
              radial-gradient(circle at bottom right, #ba8cff, transparent);
}
